*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#img-material{
    width: 31.6rem;
}
.section-1 {
    width: 30rem;
    margin-left: 10rem;
    margin-top: 2rem;
}

article h1{
    font-size: 3rem;
}