*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
   align-items: flex-start;
}
.text-area{
    width: 40vw;
    margin: 0 0 0 auto;
   
}
article {
    margin-top: 10rem;
}